body {
  font-family: 'Balsamiq Sans', cursive;
}

.flex-container {
  display: grid;
  width: 100%;
  grid-template-columns: 70% 20% auto;

  .itemTitle {
    color: #333333;
    font-size: 13pt;
  }

  .itemAuthor {
    color: #999999;
  }

  .itemDate {
    color: #333333;
    font-size: 13pt;
  }
}