@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');
body {
  overflow-x: hidden;
}

.App-header {
  background-color: rgb(51, 51, 51);
  font-family: 'Balsamiq Sans', cursive;
  padding: 75px;
  font-size: large;
  margin-left: -10px;
  margin-right: -600px;
  margin-top: -10px;
  color: white;

  .App-title {
    font-size: 120px;
    margin: 0;
  }

  .App-subtitle {
    font-size: 35px;
    margin: 0;
  }
}